<br><br>
<div class="row">
  <br>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/admin.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Admin</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a [routerLink]="['category','Admin']" class="btn btn-primary">details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/customer.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Customer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a [routerLink]="['category','Customer']" class="btn btn-primary">details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/golden.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Golden</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a [routerLink]="['category','Golden']" class="btn btn-primary">details</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/blocked.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Blocked</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a [routerLink]="['category','Blocked']" class="btn btn-primary">details</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<br>
