
<img src="assets/slide.png ">
<br><br>
<div class="row">
  <br>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/admin.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/customer.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/golden.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/blocked.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <tr>
    <th>IdUser</th>
    <th> fisrtName</th>
    <th>Last Name</th>
    <th>Category</th>
    <th>profession</th>
     <th>Delete</th>
  </tr>
  <tr *ngFor="let user of list">
    <td>{{user.idUser}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.accountCategory}}</td>
    <td>{{user.profession}}</td>
    <td>
      <button (click)="delete(user)"
              [disabled]="user.accountCategory=='Admin'">
      delete 1
     </button>
      <button (click)="delete(user)"
              *ngIf="user.accountCategory!='Admin'">
        delete 2
      </button>
    </td>
  </tr>
</table>
